@import "tailwindcss";

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.under-line-animation::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  background-color: black;
  transition: all 0.3s ease;
}

.under-line-animation:hover::after {
  width: 0;
}